<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>Marga &mdash;Poyabzallar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomofon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target bg-white" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-lg-4">
              <nav class="site-navigation text-right ml-auto " role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                </ul>
              </nav>
            </div>
            <div class="col-lg-4 text-center">
              <div class="site-logo">
                <a href="{% url 'index' %}">Bosh menyu</a>
              </div>


              <div class="ml-auto toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-white"><span class="icon-menu h3 text-primary"></span></a></div>
            </div>
            <div class="col-lg-4">
              <nav class="site-navigation text-left mr-auto " role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="{% url 'about' %}" class="nav-link">Murojat</a></li>
                </ul>
              </nav>
            </div>
            

          </div>
        </div>

      </header>








          </div>

        </div>
      </div>



      <div class="owl-carousel owl-1 ">
        <div class="ftco-cover-1" style="background-image: url('{% static 'images/hero_1.jpg' %}');"></div>
        <div class="ftco-cover-1" style="background-image: url('{% static 'images/hero_2.jpg' %}');"></div>
        <div class="ftco-cover-1" style="background-image: url('{% static 'images/hero_3.jpg' %}');"></div>
      </div>
    </div>

    
    <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-4">
            <div class="h-100 bg-white box-29291">
              <h2 class="heading-39291">Poyabzallar Sahifasiga<br> Hush Kelibsiz</h2>
              <p>Assalomu aleykum, sahifaga hush kelibsiz . Sahifamizda siz ayollar uchun turli poyabzallar ko'rishingiz mumkin . O'zingizga yoqqan poyabzalni tanlang va murojat sahifasi orqali sotib oling. </p>
              <p>Poyabzal ishlab chiqarishda va uni sotishda koplab haridorlarning didiga juda e'tibor bergan holda ish tutish, har poyabzalning kichik bir qismiga ham juda qatiq ma'suliyat bilan , e'tibor bilan  yondoshish lozim . </p>

              <p class="mt-5">
                <span class="d-block font-weight-bold text-black"> Muallif:  T. Nurullo</span>

                
                <img src="{% static 'images/signature.svg' %}" alt="Image" class="img-fluid" width="140">
              </p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="owl-carousel owl-3">
              <img src="{% static 'images/about_1.jpg' %}" alt="Image" class="img-fluid">
              <img src="{% static 'images/about_2.jpg' %}" alt="Image" class="img-fluid">
              <img src="{% static 'images/about_3.jpg' %}" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>

    


    <div class="site-section">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-7">

          </div>
        </div>

            <h2 class="heading-39291 mb-0">Poyabzallardan lavhalar</h2>
          </div>
          <div class="col-md-5 text-right">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5">
            <div class="media-02819">
              <a href="#" class="img-link big"><img src="{% static 'images/photo_2022-09-02_10-13-10.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Yoz fasli uchun</a></h3>
              <span> Raqam #1</span>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="media-02819">
              <a href="#" class="img-link"><img src="{% static 'images/photo_2022-09-02_10-15-23 (2).jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Yoz fasli uchun</a></h3>
              <span>Raqam #2</span>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="media-02819">
              <a href="#" class="img-link"><img src="{% static 'images/photo_2022-09-02_10-15-43.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Yoz fasli uchun</a></h3>
              <span>Raqam #3</span>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="media-02819">
              <a href="#" class="img-link small"><img src="{% static 'images/photo_2022-09-02_10-07-23 (2).jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Yoz fasli uchun</a></h3>
              <span>Raqam #4</span>
            </div>
          </div>
                    <div class="col-lg-6">
            <div class="media-02819">
              <a href="#" class="img-link small"><img src="{% static 'images/photo_2022-09-02_10-18-53.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Yoz fasli uchun</a></h3>
              <span>Raqam #5</span>
            </div>
          </div>
                              <div class="col-lg-5">
            <div class="media-02819">
              <a href="#" class="img-link small"><img src="{% static 'images/photo_2022-09-02_10-18-07.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Maktab uchun</a></h3>
              <span>Raqam #6</span>
            </div>
          </div>
                              <div class="col-lg-5">
            <div class="media-02819">
              <a href="#" class="img-link big"><img src="{% static 'images/photo_2022-09-02_10-19-17.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Maktab uchun</a></h3>
              <span>Raqam #7</span>
            </div>
      </div>
                              <div class="col-lg-5">
                      <div class="media-02819">
              <a href="#" class="img-link big"><img src="{% static 'images/photo_2022-09-02_10-17-02.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Maktab uchun</a></h3>
              <span>Raqam #8</span>
            </div>
      </div>
                                        <div class="col-lg-5">
                      <div class="media-02819">
              <a href="#" class="img-link big"><img src="{% static 'images/photo_2022-09-02_10-16-01.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Yoz fasli uchun</a></h3>
              <span>Raqam #9</span>
            </div>
                  </div>
                                                                                  <div class="col-lg-5">
                      <div class="media-02819">
              <a href="#" class="img-link big"><img src="{% static 'images/photo_2022-06-05_10-57-13.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Yoz fasli uchun</a></h3>
              <span>Raqam #10</span>
      </div>
    </div>
                                                                                            <div class="col-lg-5">
                      <div class="media-02819">
              <a href="#" class="img-link big"><img src="{% static 'images/photo_2022-06-06_08-30-15.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Yoz fasli uchun</a></h3>
              <span>Raqam #11</span>
      </div>
    </div>
                                                                                  <div class="col-lg-5">
                      <div class="media-02819">
              <a href="#" class="img-link big"><img src="{% static 'images/photo_2022-06-12_11-24-19.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Yoz fasli uchun</a></h3>
              <span>Raqam #12</span>
      </div>
    </div>
                                                                                  <div class="col-lg-5">
                      <div class="media-02819">
              <a href="#" class="img-link big"><img src="{% static 'images/photo_2022-08-20_05-44-56.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Yoz fasli uchun</a></h3>
              <span>Raqam #13</span>
      </div>
    </div>
                                                                                            <div class="col-lg-5">
                      <div class="media-02819">
              <a href="#" class="img-link big"><img src="{% static 'images/photo_2022-09-02_10-07-10.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Yoz fasli uchun</a></h3>
              <span>Raqam #14</span>
      </div>
    </div>
                                                                                                      <div class="col-lg-9">
                      <div class="media-02819">
              <a href="#" class="img-link big"><img src="{% static 'images/photo_2022-09-02_10-07-15.jpg' %}" alt="Image" class="img-fluid"></a>
              <h3><a href="#">Yoz fasli uchun</a></h3>
              <span>Raqam #15</span>
      </div>
    </div>






            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/aos.js"></script>

    <script src="{% static 'js/main.js' %}"></script>


  </body>

</html>
